.navbar{
    background-color: #15588b;
    color: white;
    font-weight: bold;
  }
  .collapse{
      color: white;
  }

  .color{
      color: white;
  }

 #navbarDropdown{
      color:white;
  }

  .name{
      padding-right: 10px;
  }